

body { 
  
   background-color: #FFC0CB;
  border-width:5px;  
    border-style:double;
  }


h1{
  color:#CA0072;
    font-size:50px;
  border-style: dotted;
}

p{
 color:#0000FF;
    text-align:center;
    font-size:30px;
}
h2{
  color:#CA0072;
    font-size:40px;
}
