
body {  
   background-color: black;
    border-width:5px;  
    border-style:double;
    border-color:white;
  }

h1{   
  color:#CA0072;
    font-size:50px;
    background-color: white;  
}

p{
 color: white;
    text-align:center;
    font-size:30px;    
}
h2{
  color:#CA0072;
    font-size:40px;
    background-color: white;
}
h3{
   background-color: white;
  color:#CA0072;
    font-size:25px;    
}

ul{
    font-size:30px;
     color:white;  
}
ol{
 
    font-size:25px;
     color:white;   
}
body{
    background:url(https://data.whicdn.com/images/178775900/original.jpg);
    
}
